.env
.venv/
__pycache__/
.pytest_cache/
*.py[cod]
htmlcov/
.coverage
data/indexes/**
!data/indexes/.gitkeep
!data/indexes/system/
data/indexes/system/**
!data/indexes/system/.gitkeep
!data/indexes/users/
data/indexes/users/**
!data/indexes/users/.gitkeep
data/uploads/**
!data/uploads/.gitkeep
!data/uploads/users/
data/uploads/users/**
!data/uploads/users/.gitkeep
data/*.db*
